<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.AppointmentMapper">

	<insert id="create" parameterType="Appointment" useGeneratedKeys="true" keyProperty="appointmentID" >

		INSERT INTO `appointment`(
			`doctorCode`,
			`patientCode`,
			`date`,
			`time`,
			`status`,
			`appointmentType`,
			`addedBy`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{doctorCode},
			#{patientCode},
			#{date},
			#{time},
			#{status},
			#{appointmentType},
			#{addedBy},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="Appointment">
		UPDATE `appointment`
		SET
		`doctorCode` = #{doctorCode},
		`patientCode` = #{patientCode},
		`date` = #{date},
		`time` =#{time},
		`status` = #{status},
		`appointmentType` = #{appointmentType},
		`addedBy` = #{addedBy},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE appointmentID = #{appointmentID}
	</update>

	<select id="getByID" parameterType="long" resultType="Appointment">
		SELECT
			`appointmentID`,
			`doctorCode`,
			`patientCode`,
			`date`,
			`time`,
			`status`,
			`appointmentType`,
			`addedBy`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `doctor_feed`.`appointment`

		WHERE appointmentID = #{appointmentID}
	</select>

	<select id="getByParam" parameterType="map" resultType="Appointment">
		SELECT
		`appointmentID`,
		`doctorCode`,
		`patientCode`,
		`date`,
		`time`,
		`status`,
		`appointmentType`,
		`addedBy`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		FROM `doctor_feed`.`appointment`
		WHERE 1 = 1
		<if test="appointmentID != null">
			AND appointmentID = #{appointmentID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM appointment
		WHERE 1=1
		<if test="appointmentID != null">
			AND appointmentID = #{appointmentID}
		</if>
	</delete>


</mapper>