<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.AttachmentMapper">

    <insert id="create" parameterType="Attachment" >

        <selectKey keyProperty="attachmentID" resultType="String" order="BEFORE">
            select UUID()
        </selectKey>

        INSERT INTO `doctor_feed`.content_attachment
        (
            attachmentID,
            entityType ,
            entityID ,
            description ,
            shortName,
            contentUrl ,
            fileType ,
            sortOrder ,
            entityDate,
            STATUS,
            `updatedOn`,
            `updatedBy`,
            `createdOn`,
            `createdBy`
        )
        VALUES
        (
            #{attachmentID},
            #{entityType},
            #{entityID},
            #{description},
            #{shortName},
            #{contentUrl},
            #{fileType},
            #{sortOrder},
            #{entityDate},
            #{status},
            #{updatedOn},
            #{updatedBy},
            #{createdOn},
            #{createdBy}
        );
    </insert>

    <update id="update" parameterType="Attachment">
        UPDATE `doctor_feed`.content_attachment SET
            entityType = #{entityType:VARCHAR},
            entityID = #{entityID:INTEGER},
            description = #{description:VARCHAR},
            shortName = #{shortName:VARCHAR},
            contentUrl = #{contentUrl:VARCHAR},
            fileType = #{fileType:VARCHAR},
            sortOrder = #{sortOrder:INTEGER},
            entityDate = #{entityDate:DATE},
            status = #{status:INTEGER},
            `updatedOn` = #{updatedOn},
			`updatedBy` = #{updatedBy}
            WHERE attachmentID = #{attachmentID}
    </update>

    <delete id="delete" parameterType="string">
        DELETE FROM content_attachment WHERE attachmentID = #{attachmentID}
    </delete>

    <select id="getByID" parameterType="string" resultType="Attachment">
        SELECT
            attachmentID ,
            entityType ,
            entityID ,
            description ,
            shortName,
            contentUrl ,
            fileType ,
            sortOrder ,
            entityDate,
            STATUS,
            `updatedOn`,
            `updatedBy`,
            `createdOn`,
            `createdBy`
        FROM `doctor_feed`.content_attachment WHERE attachmentID = #{attachmentId}
    </select>

    <select id="getAll" parameterType="map" resultType="Attachment">
        SELECT
            attachmentID ,
            entityType ,
            entityID ,
            description ,
            shortName,
            contentUrl ,
            fileType ,
            sortOrder ,
            entityDate,
            STATUS,
            `updatedOn`,
            `updatedBy`,
            `createdOn`,
            `createdBy`
        FROM content_attachment
        WHERE entityID = #{entityID} AND entityType = #{entityType}
    </select>

    <select id="getPrescribedAttachment" parameterType="map" resultType="Attachment">
        SELECT
        CA.attachmentID ,
        CA.entityType ,
        CA.entityID ,
        CA.description ,
        CA.shortName,
        CA.contentUrl ,
        CA.fileType ,
        CA.sortOrder ,
        CA.entityDate,
        CA.STATUS,
        CA.`updatedOn`,
        CA.`updatedBy`,
        CA.`createdOn`,
        CA.`createdBy`,
        CD.contentDetailID,
        CASE WHEN CD.contentDetailID IS NULL THEN 0 ELSE 1 END AS addedInPres
        FROM content_attachment CA
        LEFT JOIN content_detail CD ON CD.entityType = #{entityType} AND CD.entityID = #{appointmentID} AND CD.content = CA.contentUrl
        WHERE CA.entityType = #{entityType} AND CA.entityID = #{doctorID}
    </select>

</mapper>