<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.CompanyMapper">

	<insert id="create" parameterType="Company" useGeneratedKeys="true" keyProperty="companyID" >

		INSERT INTO `bottom_up_company`
		(
			`companyCode`,
			`companyName`,
			`updatedOn`,
			`updatedBy`,
			`createdOn`,
			`createdBy`
		)
		VALUES
		(
			#{companyCode},
			#{companyName},
			#{updatedOn},
			#{updatedBy},
			#{createdOn},
			#{createdBy}
		)

	</insert>
	
	<update id="update" parameterType="Company">
		UPDATE bottom_up_company SET
			companyCode = #{companyCode},
			companyName = #{companyName} ,
			`updatedOn` = #{updatedOn},
			`updatedBy` = #{updatedBy}
		WHERE companyID = #{companyID}
	</update>

	<select id="getByID" parameterType="long" resultType="Company">
		SELECT companyID, companyCode, companyName, updatedOn, updatedBy, `createdOn`, `createdBy`
		FROM bottom_up_company
		WHERE companyID = #{companyID}
	</select>

	<select id="getByParam" parameterType="map" resultType="Company">
		SELECT companyID, companyCode, companyName, updatedOn, updatedBy, `createdOn`, `createdBy`
		FROM bottom_up_company
		WHERE 1 = 1
		<if test="companyID != null">
			AND companyID = #{companyID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM bottom_up_company WHERE companyID = #{companyID}
	</delete>


</mapper>