<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.ContentDrugAdviceMapper">

	<insert id="create" parameterType="contentDrugAdvice">

		<selectKey keyProperty="drugAdviceID" resultType="String" order="BEFORE">
			select UUID()
		</selectKey>

		INSERT INTO `content_drug_advice`(
			`drugAdviceID`,
			`doctorType`,
			`bangla`,
			`english`,
			`pdf`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{drugAdviceID},
			#{doctorType},
			#{bangla},
			#{english},
			#{pdf},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="contentDrugAdvice">
		UPDATE `content_drug_advice`
		SET
		`doctorType` = #{doctorType},
		`bangla` = #{bangla},
		`english` =#{english},
		`pdf` = #{pdf},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE drugAdviceID = #{drugAdviceID}
	</update>

	<select id="getByID" parameterType="string" resultType="contentDrugAdvice">
		SELECT
		    `drugAdviceID`,
			`doctorType`,
			`bangla`,
			`english`,
			`pdf`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
        FROM `content_drug_advice`


		WHERE drugAdviceID= #{drugAdviceID}
	</select>

	<select id="getByParam" parameterType="map" resultType="contentDrugAdvice">
		SELECT
		`drugAdviceID`,
		`doctorType`,
		`bangla`,
		`english`,
		`pdf`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		FROM `content_drug_advice`
		WHERE 1 = 1
		<if test="drugAdviceID != null">
			AND drugAdviceID = #{drugAdviceID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM content_drug_advice
		WHERE 1=1
		<if test="drugAdviceID != null">
			AND drugAdviceID = #{drugAdviceID}
		</if>
	</delete>


</mapper>