<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.ContentDetailMapper">

	<insert id="create" parameterType="contentDetail" useGeneratedKeys="true" keyProperty="contentDetailID" >

		INSERT INTO `content_detail`(
			`contentType`,
			`entityID`,
			`detail`,
			`code`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{contentType},
			#{entityID},
			#{detail},
			#{code},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="contentDetail">
		UPDATE `content_detail`
		SET
		`contentType` = #{contentType},
		`entityID` = #{entityID},
		`detail` = #{detail},
		`code` =#{code},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE contentDetailID = #{contentDetailID}
	</update>

	<select id="getByID" parameterType="long" resultType="contentDetail">
		SELECT
		    `contentDetailID`,
			`contentType`,
			`entityID`,
			`detail`,
			`code`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `content_detail`

		WHERE contentDetailID = #{contentDetailID}
	</select>

	<select id="getByParam" parameterType="map" resultType="contentDetail">
		SELECT
		`contentDetailID`,
		`contentType`,
		`entityID`,
		`detail`,
		`code`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		FROM `content_detail`
		WHERE 1 = 1
		<if test="contentDetailID != null">
			AND contentDetailID = #{contentDetailID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM content_detail
		WHERE 1=1
		<if test="contentDetailID != null">
			AND contentDetailID = #{contentDetailID}
		</if>
	</delete>


</mapper>