<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.ContentDrugCompanyMapper">

	<insert id="create" parameterType="contentDrugCompany" useGeneratedKeys="true" keyProperty="drugCompanyID" >

		INSERT INTO `content_drug_company`(
			`companyName`,
			`folder`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{companyName},
			#{folder},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="contentDrugCompany">
		UPDATE `content_drug_company`
		SET
		`companyName` = #{companyName},
		`folder` = #{folder},
        `updatedBy` = #{doctorID},
		`updatedOn` = #{doctorID}
		WHERE drugCompanyID = #{drugCompanyID}
	</update>

	<select id="getByID" parameterType="long" resultType="contentDrugCompany">
		SELECT
		   `drugCompanyID`,
			`companyName`,
			`folder`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `content_drug_company`

		WHERE drugCompanyID= #{drugCompanyID}
	</select>

	<select id="getByParam" parameterType="map" resultType="contentDrugCompany">
		SELECT
		`drugCompanyID`,
		`companyName`,
		`folder`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		FROM `content_drug_company`
		WHERE 1 = 1
		<if test="drugCompanyID != null">
			AND drugCompanyID = #{drugCompanyID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM content_drug_company
		WHERE 1=1
		<if test="content_drug_company != null">
			AND content_drug_company = #{content_drug_company}
		</if>
	</delete>


</mapper>