<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.ContentAdviceMapper">

	<insert id="create" parameterType="contentAdvice">

		<selectKey keyProperty="adviceID" resultType="String" order="BEFORE">
			select UUID()
		</selectKey>

		INSERT INTO `content_advice`(
			`adviceID`,
			`type`,
			`lang`,
			`advice`,
			`pdf`,
		    `updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{adviceID},
			#{type},
			#{lang},
			#{advice},
			#{pdf},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);
	</insert>
	
	<update id="update" parameterType="contentAdvice">
		UPDATE `content_advice`
		SET
		`type` = #{type},
		`lang` = #{lang},
		`advice` = #{advice},
		`pdf` =#{pdf},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE adviceID = #{adviceID}
	</update>

	<select id="getByID" parameterType="string" resultType="contentAdvice">
		SELECT
			`adviceID`,
			`type`,
			`lang`,
			`advice`,
			`pdf`,
		    `updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `content_advice`
		WHERE adviceID = #{adviceID}
	</select>

	<select id="getByName" parameterType="string" resultType="contentAdvice">
		SELECT
		`adviceID`,
		`type`,
		`lang`,
		`advice`,
		`pdf`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		FROM `content_advice`

		WHERE advice = #{advice}
	</select>

	<select id="getByParam" parameterType="map" resultType="contentAdvice">
		SELECT
		`adviceID`,
		`type`,
		`lang`,
		`advice`,
		`pdf`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		FROM `content_advice`
		WHERE 1 = 1
		<if test="adviceID != null">
			AND adviceID = #{adviceID}
		</if>
		<if test="term != null">
			AND LOWER(advice) LIKE LOWER(CONCAT('%',#{term},'%')) LIMIT 20
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM content_advice
		WHERE 1=1
		<if test="adviceID != null">
			AND adviceID = #{adviceID}
		</if>
	</delete>


</mapper>