<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.DoctorPreferenceInvMapper">

	<insert id="create" parameterType="doctorPreferenceInv">

		<selectKey keyProperty="invPreferenceID" resultType="String" order="BEFORE">
			select UUID()
		</selectKey>
		INSERT INTO `doctor_preference_inv`(
			`invPreferenceID`,
			`doctorID`,
			`invID`,
			`displayOrder`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{invPreferenceID},
			#{doctorID},
			#{invID},
			#{displayOrder},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="doctorPreferenceInv">
		UPDATE `doctor_preference_inv`
		SET
		`doctorID` = #{doctorID},
		`invID` = #{invID},
		`displayOrder` = #{displayOrder},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE invPreferenceID = #{invPreferenceID}
	</update>

	<select id="getByID" parameterType="string" resultType="doctorPreferenceInv">
		SELECT
			`invPreferenceID`,
			`doctorID`,
			`invID`,
			`displayOrder`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `doctor_preference_inv`

		WHERE invPreferenceID = #{invPreferenceID}
	</select>

	<select id="getByParam" parameterType="map" resultType="doctorPreferenceInv">
		SELECT
		dpi.`invPreferenceID`,
		dpi.`doctorID`,
		dpi.`invID`,
		ci.name AS invName,
		ci.categoryID AS invCategoryID,
		<if test="appointmentID != null">
			PI.presInvID,
			CASE WHEN PI.presInvID IS NULL THEN FALSE ELSE TRUE END AS addedInPrescription,
		</if>
		dpi.`displayOrder`,
		dpi.`updatedBy`,
		dpi.`updatedOn`,
		dpi.`createdBy`,
		dpi.`createdOn`
		FROM `doctor_preference_inv` dpi
		JOIN doctor_feed.content_inv ci on dpi.invID = ci.invID
		<if test="appointmentID != null">
			LEFT JOIN doctor_feed.prescription_inv PI ON PI.appointmentID = #{appointmentID} AND PI.invID = dpi.invID
		</if>
		WHERE 1 = 1
		<if test="invPreferenceID != null">
			AND invPreferenceID = #{invPreferenceID}
		</if>
		<if test="doctorID != null">
			AND doctorID = #{doctorID}
		</if>
		<if test="categoryID != null">
			AND ci.categoryID = #{categoryID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM doctor_preference_inv
		WHERE 1=1
		<if test="invPreferenceID!= null">
			AND invPreferenceID = #{invPreferenceID}
		</if>
	</delete>


</mapper>