<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.DoctorDataBackupMapper">

	<insert id="create" parameterType="doctorDataBackup">


		<selectKey keyProperty="doctorID" resultType="String" order="BEFORE">
			select UUID()
		</selectKey>

		INSERT INTO `doctor_data_backup`(
			`lastBackupDate`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{lastBackupDate},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="doctorDataBackup">
		UPDATE `doctor_data_backup`
		SET
		`lastBackupDate` = #{lastBackupDate},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE doctorID = #{doctorID}
	</update>

	<select id="getByID" parameterType="string" resultType="doctorDataBackup">
		SELECT
			`doctorID`,
			`lastBackupDate`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `doctor_data_backup`

		WHERE doctorID = #{doctorID}
	</select>

	<select id="getByParam" parameterType="map" resultType="doctorDataBackup">
		SELECT
		`doctorID`,
		`lastBackupDate`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		FROM `doctor_data_backup`
		WHERE 1 = 1
		<if test="doctorID != null">
			AND doctorID = #{doctorID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM doctor_data_backup
		WHERE 1=1
		<if test="doctorID != null">
			AND doctorID = #{doctorID}
		</if>
	</delete>


</mapper>