<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.DoctorDrugSettingMapper">

	<insert id="create" parameterType="doctorDrugSetting" useGeneratedKeys="true" keyProperty="drugSettingID" >

		INSERT INTO `doctor_drug_setting`(
			`doctorID`,
			`drugID`,
			`doseTypeCode`,
			`drugDoseUnit`,
			`drugWhenID`,
			`drugAdviceID`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{doctorID},
			#{drugID},
			#{doseTypeCode},
			#{drugDoseUnit},
			#{drugWhenID},
			#{drugAdviceID},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="doctorDrugSetting">
		UPDATE `doctor_drug_setting`
		SET
		`doctorID` = #{doctorID},
		`drugID` = #{drugID},
		`doseTypeCode` = #{doseTypeCode},
		`drugDoseUnit` =#{drugDoseUnit},
		`drugWhenID` = #{drugWhenID},
		`drugAdviceID` = #{drugAdviceID},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE drugSettingID = #{drugSettingID}
	</update>

	<select id="getByID" parameterType="long" resultType="doctorDrugSetting">
		SELECT
			`drugSettingID`,
			`doctorID`,
			`drugID`,
			`doseTypeCode`,
			`drugDoseUnit`,
			`drugWhenID`,
			`drugAdviceID`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `doctor_drug_setting`

		WHERE drugSettingID = #{drugSettingID}
	</select>

	<select id="getByParam" parameterType="map" resultType="doctorDrugSetting">
		SELECT
		DDS.`drugSettingID`,
		DDS.`doctorID`,
		DDS.`drugID`,
		DDS.`doseTypeCode`,
		DDS.`drugDoseUnit`,
		DDS.`drugWhenID`,
		DDS.`drugAdviceID`,
		CD.drugName,
		CD.strength AS drugStrength,
		CDT.initial AS drugTypeInitial,
		CDT.name AS drugTypeName,
		CDA.bangla AS drugAdviceName,
		CWT.bangla AS drugWhenName,
		DT.bangla AS doseTypeBngName,
		DT.english AS doseTypeEngName,
		DDS.`updatedBy`,
		DDS.`updatedOn`,
		DDS.`createdBy`,
		DDS.`createdOn`
		FROM doctor_feed.`doctor_drug_setting` DDS
		JOIN doctor_feed.content_drug CD ON DDS.drugID = CD.drugID
		JOIN doctor_feed.content_drug_type CDT ON CD.typeID = CDT.drugTypeID
		JOIN doctor_feed.content_dose_type DT ON DDS.doseTypeCode = DT.doseCode
		LEFT JOIN doctor_feed.content_drug_advice CDA ON DDS.drugAdviceID = CDA.drugAdviceID
		LEFT JOIN doctor_feed.content_when_type CWT ON DDS.drugWhenID = CWT.whenTypeID
		WHERE 1 = 1
		<if test="doctorID != null">
			AND doctorID = #{doctorID}
		</if>
		<if test="drugID != null">
			AND drugID = #{drugID}
		</if>
		<if test="drugSettingID != null">
			AND drugSettingID = #{drugSettingID}
		</if>
	</select>

	<select id="getDoctorDrugCount" parameterType="map" resultType="int">
		SELECT COUNT(drugSettingID)
		FROM `doctor_drug_setting`
		WHERE 1 = 1
		<if test="doctorID != null">
			AND doctorID = #{doctorID}
		</if>
		<if test="drugID != null">
			AND drugID = #{drugID}
		</if>
	</select>

	<select id="getByDrugID" parameterType="long" resultType="doctorDrugSetting">
		SELECT
			`drugSettingID`,
			`doctorID`,
			`drugID`,
			`doseTypeCode`,
			`drugDoseUnit`,
			`drugWhenID`,
			`drugAdviceID`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `doctor_drug_setting`
		WHERE drugID = #{drugID} AND drugID IS NULL
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM doctor_drug_setting
		WHERE 1=1
		<if test="drugSettingID != null">
			AND drugSettingID = #{drugSettingID}
		</if>
	</delete>


</mapper>