<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.DoctorPreferenceAdviceMapper">

	<insert id="create" parameterType="doctorPreferenceAdvice">

		<selectKey keyProperty="advicePreferenceID" resultType="String" order="BEFORE">
			select UUID()
		</selectKey>
		INSERT INTO `doctor_preference_advice`(
			`advicePreferenceID`,
			`doctorID`,
			`adviceID`,
			`displayOrder`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{advicePreferenceID},
			#{doctorID},
			#{adviceID},
			#{displayOrder},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="doctorPreferenceAdvice">
		UPDATE `doctor_preference_advice`
		SET
		`doctorID` = #{doctorID},
		`adviceID` = #{adviceID},
		`displayOrder` = #{displayOrder},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE advicePreferenceID = #{advicePreferenceID}
	</update>

	<select id="getByID" parameterType="string" resultType="doctorPreferenceAdvice">
		SELECT
			`advicePreferenceID`,
			`doctorID`,
			`adviceID`,
			`displayOrder`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `doctor_preference_advice`

		WHERE advicePreferenceID = #{advicePreferenceID}
	</select>

	<select id="getByParam" parameterType="map" resultType="doctorPreferenceAdvice">
		SELECT
		dpa.`advicePreferenceID`,
		dpa.`doctorID`,
		dpa.`adviceID`,
		CA.advice,
		CA.type,
		CA.lang,
		<if test="appointmentID != null">
			PA.presAdviceID,
			CASE WHEN PA.presAdviceID IS NULL THEN FALSE ELSE TRUE END AS addedInPrescription,
		</if>
		dpa.`displayOrder`,
		dpa.`updatedBy`,
		dpa.`updatedOn`,
		dpa.`createdBy`,
		dpa.`createdOn`
		FROM doctor_feed.`doctor_preference_advice` dpa
		JOIN doctor_feed.content_advice CA ON dpa.adviceID = CA.adviceID
		<if test="appointmentID != null">
			LEFT JOIN doctor_feed.prescription_advice PA ON PA.appointmentID = #{appointmentID} AND PA.adviceID = dpa.adviceID
		</if>
		WHERE 1 = 1
		<if test="advicePreferenceID != null">
			AND advicePreferenceID = #{advicePreferenceID}
		</if>
		<if test="doctorID != null">
			AND doctorID = #{doctorID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM doctor_preference_advice
		WHERE 1=1
		<if test="advicePreferenceID != null">
			AND advicePreferenceID = #{advicePreferenceID}
		</if>
	</delete>


</mapper>