<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.DoctorVitalSettingMapper">

	<insert id="create" parameterType="doctorVitalSetting">

		<selectKey keyProperty="vitalSettingID" resultType="String" order="BEFORE">
			select UUID()
		</selectKey>

		INSERT INTO `doctor_vital_setting`(
			`vitalSettingID`,
			`doctorID`,
			`vitalID`,
			`displayOrder`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{vitalSettingID},
			#{doctorID},
			#{vitalID},
			#{displayOrder},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="doctorVitalSetting">
		UPDATE `doctor_vital_setting`
		SET
		`doctorID` = #{doctorID},
		`vitalID` = #{vitalID},
		`displayOrder` = #{displayOrder},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE vitalSettingID = #{vitalSettingID}
	</update>

	<select id="getByID" parameterType="string" resultType="doctorVitalSetting">
		SELECT
			`vitalSettingID`,
			`doctorID`,
			`vitalID`,
			`displayOrder`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `doctor_vital_setting`

		WHERE  vitalSettingID = #{ vitalSettingID}
	</select>

	<select id="getByParam" parameterType="map" resultType="doctorVitalSetting">
		SELECT
		`vitalSettingID`,
		`doctorID`,
		`vitalID`,
		`displayOrder`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		FROM `doctor_vital_setting`
		WHERE 1 = 1
		<if test=" vitalSettingID != null">
			AND  vitalSettingID = #{vitalSettingID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

	<select id="getByDoctorParam" parameterType="map" resultType="doctorVitalSetting">
		SELECT
		dvs.vitalSettingID,
		dvs.displayOrder,
		dvs.`doctorID`,
		dvs.`vitalID`,
		cv.`vitalName`,
		<if test="appointmentID != null">
			pv.vitalResult,
			pv.presVitalID,
			CASE WHEN pv.presVitalID IS NULL THEN FALSE ELSE TRUE END AS addedInPrescription,
		</if>
		cv.`shortName`,
		cv.`vitalUnit`,
		dvs.`updatedBy`,
		dvs.`updatedOn`,
		dvs.`createdBy`,
		dvs.`createdOn`
		FROM doctor_feed.`doctor_vital_setting` dvs
		JOIN doctor_feed.content_vital cv ON cv.vitalID = dvs.vitalID
		<if test="appointmentID != null">
			LEFT JOIN doctor_feed.prescription_vital pv ON pv.appointMentID = #{appointmentID} AND pv.vitalID = dvs.vitalID
		</if>
		WHERE 1 = 1
		<if test="vitalID != null">
			AND vitalID = #{vitalID}
		</if>
		<if test="doctorID != null">
			AND dvs.doctorID = #{doctorID}
		</if>
		<if test="term != null">
			AND LOWER(vitalName) LIKE LOWER(CONCAT('%',#{term},'%')) LIMIT 20
		</if>
		<if test="term == null">
			ORDER BY dvs.displayOrder ASC
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM doctor_vital_setting
		WHERE 1=1
		<if test="vitalSettingID != null">
			AND vitalSettingID = #{vitalSettingID}
		</if>
	</delete>


</mapper>