<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.DoctorDoseDrugDiseaseTemplateMapper">

	<insert id="create" parameterType="doctorDoseDrugDiseaseTemplate" useGeneratedKeys="true" keyProperty="templateID" >

		INSERT INTO `doctor_dose_drug_disease_template`(
			`dose`,
			`numOfDay`,
			`durationType`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{dose},
			#{numOfDay},
			#{durationType},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="doctorDoseDrugDiseaseTemplate">
		UPDATE `doctor_dose_drug_disease_template`
		SET
		`dose` = #{dose},
		`numOfDay` = #{numOfDay},
		`durationType` = #{durationType},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE templateID = #{templateID}
	</update>

	<select id="getByID" parameterType="long" resultType="doctorDoseDrugDiseaseTemplate">
		SELECT
			`templateID`,
			`dose`,
			`numOfDay`,
			`durationType`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `doctor_dose_drug_disease_template`

		WHERE templateID = #{templateID}
	</select>

	<select id="getByParam" parameterType="map" resultType="doctorDoseDrugDiseaseTemplate">
		SELECT
		`templateID`,
		`dose`,
		`numOfDay`,
		`durationType`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		FROM `doctor_dose_drug_disease_template`
		WHERE 1 = 1
		<if test="templateID != null">
			AND templateID = #{templateID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM doctor_dose_drug_disease_template
		WHERE 1=1
		<if test="templateID != null">
			AND templateID = #{templateID}
		</if>
	</delete>


</mapper>