<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.DoctorAdviceDiseaseTemplateMapper">

	<insert id="create" parameterType="doctorAdviceDiseaseTemplate">

		<selectKey keyProperty="templateID" resultType="String" order="BEFORE">
			select UUID()
		</selectKey>

		INSERT INTO `doctor_advice_disease_template`(
			`templateID`,
			`doctorID`,
			`diseaseID`,
			`adviceID`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{templateID},
			#{doctorID},
			#{diseaseID},
			#{adviceID},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="doctorAdviceDiseaseTemplate">
		UPDATE `doctor_advice_disease_template`
		SET
		`doctorID` = #{doctorID},
		`diseaseID` = #{diseaseID},
		`adviceID` = #{adviceID},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE templateID = #{templateID}
	</update>

	<select id="getByID" parameterType="string" resultType="doctorAdviceDiseaseTemplate">
		SELECT
			`templateID`,
			`doctorID`,
			`diseaseID`,
			`adviceID`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `doctor_advice_disease_template`

		WHERE templateID = #{templateID}
	</select>

	<select id="getByParam" parameterType="map" resultType="doctorAdviceDiseaseTemplate">
		SELECT
		`templateID`,
		`doctorID`,
		`diseaseID`,
		`adviceID`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		FROM `doctor_advice_disease_template`
		WHERE 1 = 1
		<if test="templateID != null">
			AND templateID = #{templateID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM doctor_advice_disease_template
		WHERE 1=1
		<if test="templateID != null">
			AND templateID = #{templateID}
		</if>
	</delete>


</mapper>