<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.DoctorHistorySettingMapper">

	<insert id="create" parameterType="doctorHistorySetting">

		<selectKey keyProperty="historySettingID" resultType="String" order="BEFORE">
			select UUID()
		</selectKey>

		INSERT INTO `doctor_history_setting`(
			`historySettingID`,
			`doctorID`,
			`historyID`,
			`displayOrder`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{historySettingID},
			#{doctorID},
			#{historyID},
			#{displayOrder},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="doctorHistorySetting">
		UPDATE `doctor_history_setting`
		SET
		`doctorID` = #{doctorID},
		`historyID` = #{historyID},
		`displayOrder` = #{displayOrder},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE historySettingID = #{historySettingID}
	</update>

	<select id="getByID" parameterType="string" resultType="doctorHistorySetting">
		SELECT
			`historySettingID`,
			`doctorID`,
			`historyID`,
			`displayOrder`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`

		FROM `doctor_history_setting`

		WHERE historySettingID = #{historySettingID}
	</select>

	<select id="getByParam" parameterType="map" resultType="doctorHistorySetting">
		SELECT
		dhs.`historySettingID`,
		dhs.`doctorID`,
		dhs.`historyID`,
		h.name,
		h.shortName,
		h.typeCode,
		<if test="appointmentID != null and patientID != null">
			ph.historyResult,
			presp_h.presHistoryID,
			CASE WHEN presp_h.presHistoryID IS NULL THEN FALSE ELSE TRUE END AS addedInPrescription,
		</if>
		dhs.`displayOrder`,
		dhs.`updatedBy`,
		dhs.`updatedOn`,
		dhs.`createdBy`,
		dhs.`createdOn`
		FROM `doctor_history_setting` dhs
		JOIN doctor_feed.history h ON dhs.historyID = h.historyID
		<if test="appointmentID != null and patientID != null"  >
			LEFT JOIN doctor_feed.patient_history ph ON ph.patientID = #{patientID} AND ph.historyID = dhs.historyID
			LEFT JOIN doctor_feed.prescription_history presp_h ON presp_h.appointMentID = #{appointmentID} AND presp_h.patientHistoryID = ph.patientHistoryID
		</if>
		WHERE 1 = 1
		<if test="doctorID != null">
			AND dhs.doctorID = #{doctorID}
		</if>
		<if test="typeCode != null">
			AND h.typeCode = #{typeCode}
		</if>
		<if test="historySettingID != null">
			AND dhs.historySettingID = #{historySettingID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM doctor_history_setting
		WHERE 1=1
		<if test="historySettingID != null">
			AND historySettingID = #{historySettingID}
		</if>
	</delete>


</mapper>