<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.DoctorDrugDoseSettingMapper">

	<insert id="create" parameterType="doctorDrugDoseSetting" useGeneratedKeys="true" keyProperty="drugDoseSettingID" >

		INSERT INTO `doctor_drug_dose_setting`(
			`drugSettingID`,
			`dose`,
			`numOfDay`,
			`durationType`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{drugSettingID},
			#{dose},
			#{numOfDay},
			#{durationType},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);
	</insert>
	
	<update id="update" parameterType="doctorDrugDoseSetting">
		UPDATE `doctor_drug_dose_setting`
		SET
		`drugSettingID` = #{drugSettingID},
		`dose` = #{dose},
		`numOfDay` = #{numOfDay},
		`durationType` =#{durationType},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE drugDoseSettingID = #{drugDoseSettingID}
	</update>

	<select id="getByID" parameterType="long" resultType="doctorDrugDoseSetting">
		SELECT
			`drugDoseSettingID`,
			`dose`,
			`numOfDay`,
			`durationType`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `doctor_drug_dose_setting`

		WHERE drugDoseSettingID = #{drugDoseSettingID}
	</select>

	<select id="getByParam" parameterType="map" resultType="doctorDrugDoseSetting">
		SELECT
		DDS.`drugDoseSettingID`,
		DDS.`dose`,
		DDS.`numOfDay`,
		DDS.`durationType`,
		CDT.bangla as bngDurationName,
		CDT.english as engDurationName,
		CDT.pdf as pdfDurationName,
		DDS.`updatedBy`,
		DDS.`updatedOn`,
		DDS.`createdBy`,
		DDS.`createdOn`
		FROM doctor_feed.`doctor_drug_dose_setting` DDS
		JOIN doctor_feed.content_duration_type CDT ON DDS.durationType = CDT.durationType
		WHERE 1 = 1
		<if test="drugDoseSettingID != null">
			AND drugDoseSettingID = #{drugDoseSettingID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM doctor_drug_dose_setting
		WHERE 1=1
		<if test="drugDoseSettingID!= null">
			AND drugDoseSettingID = #{drugDoseSettingID}
		</if>
	</delete>


</mapper>