<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.DoctorDrugDiseaseTemplateMapper">

	<insert id="create" parameterType="doctorDrugDiseaseTemplate" useGeneratedKeys="true" keyProperty="templateID" >

		INSERT INTO `doctor_drug_disease_template`(
			`doctorID`,
			`diseaseID`,
			`drugTypeID`,
			`doseTypeCode`,
			`drugDoseUnit`,
			`drugWhenID`,
			`drugAdviceID`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{doctorID},
			#{diseaseID},
			#{drugTypeID},
			#{doseTypeCode},
			#{drugDoseUnit},
			#{drugWhenID},
			#{drugAdviceID},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="doctorDrugDiseaseTemplate">
		UPDATE `doctor_drug_disease_template`
		SET
		`doctorID` = #{doctorID},
		`diseaseID` = #{diseaseID},
		`drugTypeID` = #{drugTypeID},
		`doseTypeCode` =#{doseTypeCode},
		`drugDoseUnit` = #{drugDoseUnit},
		`drugWhenID` = #{drugWhenID},
		`drugAdviceID`= #{drugAdviceID},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE templateID = #templateID}
	</update>

	<select id="getByID" parameterType="long" resultType="doctorDrugDiseaseTemplate">
		SELECT
			`templateID`,
			`doctorID`,
			`diseaseID`,
			`drugTypeID`,
			`doseTypeCode`,
			`drugDoseUnit`,
			`drugWhenID`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `doctor_drug_disease_template`

		WHERE templateID = #{templateID}
	</select>

	<select id="getByParam" parameterType="map" resultType="doctorDrugDiseaseTemplate">
		SELECT
		`templateID`,
		`doctorID`,
		`diseaseID`,
		`drugTypeID`,
		`doseTypeCode`,
		`drugDoseUnit`,
		`drugWhenID`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		FROM `doctor_drug_disease_template`
		WHERE 1 = 1
		<if test="templateID != null">
			AND templateID = #{templateID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM doctor_drug_disease_template
		WHERE 1=1
		<if test="templateID != null">
			AND templateID = #{templateID}
		</if>
	</delete>


</mapper>