<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.HistoryOptionMapper">

	<insert id="create" parameterType="historyOption" useGeneratedKeys="true" keyProperty="historyID" >

		INSERT INTO `history_option`(
			`optionName`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{optionName},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="historyOption">
		UPDATE `history_option`
		SET
		`optionName` = #{optionName},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE historyID = #{historyID}
	</update>

	<select id="getByID" parameterType="long" resultType="historyOption">
		SELECT
			`historyID`,
			`optionName`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `history_option`

		WHERE historyID = #{historyID}
	</select>

	<select id="getByParam" parameterType="map" resultType="historyOption">
		SELECT
		`historyID`,
		`optionName`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		FROM `history_option`
		WHERE 1 = 1
		<if test="historyID != null">
			AND historyID = #{historyID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM history_option
		WHERE 1=1
		<if test="historyID != null">
			AND historyID = #{historyID}
		</if>
	</delete>


</mapper>