<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.InvReportMapper">

	<insert id="create" parameterType="invReport" useGeneratedKeys="true" keyProperty="id">

		INSERT INTO `inv_report`(
			`invPrescribeID`,
			`result`,
			`status`,
		)
		VALUES(
			#{invPrescribeID},
			#{result},
			#{status},

		);


	</insert>
	
	<update id="update" parameterType="invReport">
		UPDATE `inv_report`
		SET
		`invPrescribeID` = #{invPrescribeID},
		`result` = #{result},
		`status` = #{status},
		WHERE id = #{id}
	</update>

	<select id="getByID" parameterType="long" resultType="invReport">
		SELECT
			`id`,
			`invPrescribeID`,
			`result`,
			`status`,
		FROM `inv_report`

		WHERE id = #{id}
	</select>

	<select id="getByParam" parameterType="map" resultType="invReport">
		SELECT
		`id`,
		`invPrescribeID`,
		`result`,
		`status`,
		FROM `inv_report`
		WHERE 1 = 1
		<if test="id != null">
			AND id = #{id}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM inv_report
		WHERE 1=1
		<if test="id != null">
			AND id = #{id}
		</if>
	</delete>


</mapper>