<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.MenuSettingMapper">

	<insert id="create" parameterType="menuSetting" useGeneratedKeys="true" keyProperty="menuSettingID" >

		INSERT INTO `menu_setting`(
			`doctorID`,
			`menuID`,
			`menuHeader`,
			`order`,

		)
		VALUES(
			#{doctorID},
			#{menuID},
			#{menuHeader},
			#{order},

		);


	</insert>
	
	<update id="update" parameterType="menuSetting">
		UPDATE `menu_setting`
		SET
		`doctorID` = #{doctorID},
		`menuID` = #{menuID},
		`menuHeader` = #{menuHeader},
		`order` =#{order},
		WHERE menuSettingID = #{menuSettingID}
	</update>

	<select id="getByID" parameterType="long" resultType="menuSetting">
		SELECT
			`menuSettingID`,
			`doctorID`,
			`menuID`,
			`menuHeader`,
			`order`

		FROM `menu_setting`

		WHERE menuSettingID = #{menuSettingID}
	</select>

	<select id="getByParam" parameterType="map" resultType="menuSetting">
		SELECT
			ms.`menuSettingID`,
			ms.`doctorID`,
			ms.`menuID`,
			ms.`menuHeader`,
			ms.`order`,
			m.menuURL,
			m.defaultName,
			m.isPopUp,
			m.functionName,
			m.inPrescription,
			m.displayOrder
		FROM `menu_setting` ms
		JOIN menu m ON ms.menuID = m.menuID
		WHERE 1 = 1
		<if test="menuSettingID != null">
			AND ms.menuSettingID = #{menuSettingID}
		</if>
		<if test="doctorID != null">
			AND ms.doctorID = #{doctorID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM menu_setting
		WHERE 1=1
		<if test="menuSettingID != null">
			AND menuSettingID = #{menuSettingID}
		</if>
	</delete>


</mapper>