<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.MenuMapper">

	<insert id="create" parameterType="Menu" useGeneratedKeys="true" keyProperty="menuID" >

		INSERT INTO `menu`(
			`categoryID`,
			`menuURL`,
			`defaultName`,
			`isPopUp`,
			`functionName`,
			`inPrescription`,
			`updatedOn`,
			`updatedBy`,
			`createdOn`,
			`createdBy`

		)
		VALUES(
			#{categoryID},
			#{menuURL},
			#{defaultName},
			#{isPopUp},
			#{functionName},
			#{inPrescription},
			#{updatedOn},
			#{updatedBy},
			#{createdOn},
			#{createdBy}

		);


	</insert>
	
	<update id="update" parameterType="Menu">
		UPDATE `menu`
		SET
		`categoryID` = #{categoryID},
		`menuURL` = #{menuURL},
		`defaultName` = #{defaultName},
		`isPopUp`=#{isPopUp},
		`functionName` = #{functionName},
		`inPrescription` = #{inPrescription},
		`updatedOn` = #{updatedOn},
		`updatedBy` = #{updatedBy}
		WHERE menuID = #{menuID}
	</update>

	<select id="getByID" parameterType="long" resultType="Menu">
		SELECT
			`categoryID`,
			`menuID`,
			`menuURL`,
			`defaultName`,
			`isPopUp`,
			`functionName`,
			`inPrescription`
		FROM `menu`

		WHERE menuID = #{menuID}
	</select>

	<select id="getByParam" parameterType="map" resultType="Menu">
		SELECT
			m.`categoryID`,
			CDE.categoryName,
			m.`menuID`,
			m.`menuURL`,
			m.`defaultName`,
			m.`isPopUp`,
			m.`functionName`,
			m.`inPrescription`
		FROM `menu` m
		JOIN doctor_feed.content_doctor_category CDE ON CDE.categoryID = m.categoryID
		WHERE 1 = 1
		<if test="menuID != null">
			AND m.menuID = #{menuID}
		</if>
		<if test="categoryID != null">
			AND m.categoryID = #{categoryID}
		</if>
		<if test="term != null">
			AND LOWER(defaultName) LIKE LOWER(CONCAT('%',#{term},'%')) LIMIT 20
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM menu
		WHERE 1=1
		<if test="id != null">
			AND menuID = #{menuID}
		</if>
	</delete>


</mapper>