<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.PatientHistoryMapper">

	<insert id="create" parameterType="patientHistory">

		<selectKey keyProperty="patientHistoryID" resultType="String" order="BEFORE">
			select UUID()
		</selectKey>
		INSERT INTO `patient_history`(
			`patientHistoryID`,
			`patientID`,
			`historyID`,
			`historyResult`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{patientHistoryID},
			#{patientID},
			#{historyID},
			#{historyResult},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="patientHistory">
		UPDATE `patient_history`
		SET
		`patientID` = #{patientID},
		`historyID` = #{historyID},
		`historyResult` = #{historyResult},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE patientHistoryID = #{patientHistoryID}
	</update>

	<select id="getByID" parameterType="string" resultType="patientHistory">
		SELECT
			`patientHistoryID`,
			`patientID`,
			`historyID`,
			`historyResult`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `patient_history`

		WHERE patientHistoryID = #{patientHistoryID}
	</select>

	<select id="getByParam" parameterType="map" resultType="patientHistory">
		SELECT
		`patientHistoryID`,
		`patientID`,
		`historyID`,
		`historyResult`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		FROM `patient_history`
		WHERE 1 = 1
		<if test="patientHistoryID != null">
			AND patientHistoryID = #{patientHistoryID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  ph
		FROM patient_history ph
		JOIN history h ON ph.historyID = h.historyID
		WHERE 1=1
		<if test="patientHistoryID != null">
			AND ph.patientHistoryID = #{patientHistoryID}
		</if>
		<if test="patientID != null">
			AND ph.patientID = #{patientID}
		</if>
		<if test="typeCode != null">
			AND h.typeCode = #{typeCode}
		</if>
	</delete>


</mapper>