<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.PrescriptionAdviceMapper">

	<insert id="create" parameterType="prescriptionAdvice" useGeneratedKeys="true" keyProperty="presAdviceID" >

		INSERT INTO `prescription_advice`(
			`appointmentID`,
			`adviceID`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{appointmentID},
			#{adviceID},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>

	<insert id="selectInsert" parameterType="map">

		INSERT INTO `prescription_advice`(
		`appointmentID`,
		`adviceID`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		)
		SELECT
		#{newAppointmentID},
		pa.`adviceID`,
		#{userName},
		NOW(),
		#{userName},
		NOW()
		FROM prescription_advice pa
		WHERE 1=1
		<if test="appointmentID != null">
			AND pa.appointmentID = #{appointmentID}
		</if>
		<if test="presAdviceID != null">
			AND pa.presAdviceID = #{presAdviceID}
		</if>
	</insert>
	
	<update id="update" parameterType="prescriptionAdvice">
		UPDATE `prescription_advice`
		SET
		`appointmentID` = #{appointmentID},
		`adviceID` = #{adviceID},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE presAdviceID = #{presAdviceID}
	</update>

	<select id="getByID" parameterType="long" resultType="prescriptionAdvice">
		SELECT
		pa.`presAdviceID`,
		pa.`appointmentID`,
		pa.`adviceID`,
		ca.advice,
		ca.lang,
		pa.`updatedBy`,
		pa.`updatedOn`,
		pa.`createdBy`,
		pa.`createdOn`
		FROM doctor_feed.`prescription_advice` pa
		JOIN doctor_feed.content_advice ca ON pa.adviceID = ca.adviceID

		WHERE presAdviceIS = #{presAdviceIS}
	</select>

	<select id="getByParam" parameterType="map" resultType="prescriptionAdvice">
		SELECT
		pa.`presAdviceID`,
		pa.`appointmentID`,
		pa.`adviceID`,
		ca.advice,
		ca.lang,
		pa.`updatedBy`,
		pa.`updatedOn`,
		pa.`createdBy`,
		pa.`createdOn`
		FROM doctor_feed.`prescription_advice` pa
		JOIN doctor_feed.content_advice ca ON pa.adviceID = ca.adviceID
		WHERE 1 = 1
		<if test="presAdviceID != null">
			AND presAdviceID = #{presAdviceID}
		</if>
		<if test="appointmentID != null">
			AND pa.appointmentID = #{appointmentID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM prescription_advice
		WHERE 1=1
		<if test="presAdviceID != null">
			AND presAdviceID = #{presAdviceID}
		</if>
	</delete>


</mapper>