<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.PrescriptionHistoryMapper">

	<insert id="create" parameterType="prescriptionHistory" useGeneratedKeys="true" keyProperty="presHistoryID" >

		INSERT INTO `prescription_history`(
			`appointmentID`,
			`patientHistoryID`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{appointmentID},
			#{patientHistoryID},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="prescriptionHistory">
		UPDATE `prescription_history`
		SET
		`appointmentID` = #{appointmentID},
		`patientHistoryID` = #{patientHistoryID},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE presHistoryID = #{presHistoryID}
	</update>

	<select id="getByID" parameterType="long" resultType="prescriptionHistory">
		SELECT
		ph.`presHistoryID`,
		ph.`appointmentID`,
		ph.`patientHistoryID`,
		h.typeCode AS typeCode,
		h.name AS historyName,
		h.shortName historyShortName,
		pathis.historyResult AS historyResult,
		ph.`updatedBy`,
		ph.`updatedOn`,
		ph.`createdBy`,
		ph.`createdOn`
		FROM doctor_feed.`prescription_history` ph
		JOIN doctor_feed.patient_history pathis ON ph.patientHistoryID = pathis.patientHistoryID
		JOIN doctor_feed.history h ON pathis.historyID = h.historyID
		WHERE ph.presHistoryID = #{presHistoryID}
	</select>

	<select id="getByParam" parameterType="map" resultType="prescriptionHistory">
		SELECT
		ph.`presHistoryID`,
		ph.`appointmentID`,
		ph.`patientHistoryID`,
		h.typeCode AS typeCode,
		h.name AS historyName,
		h.shortName historyShortName,
		pathis.historyResult AS historyResult,
		ph.`updatedBy`,
		ph.`updatedOn`,
		ph.`createdBy`,
		ph.`createdOn`
		FROM doctor_feed.`prescription_history` ph
		JOIN doctor_feed.patient_history pathis ON ph.patientHistoryID = pathis.patientHistoryID
		JOIN doctor_feed.history h ON pathis.historyID = h.historyID
		WHERE 1 = 1
		<if test="presHistoryID != null">
			AND ph.presHistoryID = #{presHistoryID}
		</if>
		<if test="patientID != null">
			AND pathis.patientID = #{patientID}
		</if>
		<if test="appointmentID != null">
			AND ph.appointmentID = #{appointmentID}
		</if>
		<if test="typeCode != null">
			AND h.typeCode = #{typeCode}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM prescription_history
		WHERE 1=1
		<if test="presHistoryID != null">
			AND presHistoryID = #{presHistoryID}
		</if>
		<if test="appointmentID != null">
			AND   appointmentID = #{appointmentID}
		</if>
	</delete>


</mapper>