<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.PrescriptionNextVisitMapper">

	<insert id="create" parameterType="prescriptionNextVisit" useGeneratedKeys="true" keyProperty="presNextVisitID" >

		INSERT INTO `prescription_next_visit`(
			`appointmentID`,
			`nextVisitType`,
			`visitDate`,
			`numOfDay`,
			`durationType`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{appointmentID},
			#{nextVisitType},
			#{visitDate},
			#{numOfDay},
			#{durationType},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);
	</insert>
	
	<update id="update" parameterType="prescriptionNextVisit">
		UPDATE `prescription_next_visit`
		SET
		`nextVisitType` = #{nextVisitType},
		`visitDate` = #{visitDate},
		`numOfDay` = #{numOfDay},
		`durationType` =#{durationType},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE presNextVisitID = #{presNextVisitID}
	</update>

	<select id="getByID" parameterType="long" resultType="prescriptionNextVisit">
		SELECT
			`presNextVisitID`,
			`appointmentID`,
			`nextVisitType`,
			`visitDate`,
			`numOfDay`,
			`durationType`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `prescription_next_visit`

		WHERE presNextVisitID = #{presNextVisitID}
	</select>

	<select id="getByParam" parameterType="map" resultType="prescriptionNextVisit">
		SELECT
			pnv.`presNextVisitID`,
			pnv.`appointmentID`,
			pnv.`nextVisitType`,
			pnv.`visitDate`,
			pnv.`numOfDay`,
			pnv.`durationType`,
			CDT.bangla AS durationTypeName,
			pnv.`updatedBy`,
			pnv.`updatedOn`,
			pnv.`createdBy`,
			pnv.`createdOn`
		FROM `prescription_next_visit` pnv
		LEFT JOIN doctor_feed.content_duration_type CDT ON pnv.durationType = CDT.durationType
		WHERE 1 = 1
		<if test="presNextVisitID != null">
			AND presNextVisitID = #{presNextVisitID}
		</if>
		<if test="appointmentID != null">
			AND appointmentID = #{appointmentID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM prescription_next_visit
		WHERE 1=1
		<if test="appointmentID != null">
			AND appointmentID = #{appointmentID}
		</if>
	</delete>


</mapper>