<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.PrescriptionReferenceMapper">

	<insert id="create" parameterType="prescriptionReference" useGeneratedKeys="true" keyProperty="prescriptionReferenceID" >

		INSERT INTO `prescription_reference`(
			`appointmentID`,
			`refferedDoctorID`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{appointmentID},
			#{refferedDoctorID},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="prescriptionReference">
		UPDATE `prescription_reference`
		SET
		`appointmentID` = #{appointmentID},
		`refferedDoctorID` = #{refferedDoctorID},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE prescriptionReferenceID = #{prescriptionReferenceID}
	</update>

	<select id="getByID" parameterType="long" resultType="prescriptionReference">
		SELECT
			pr.`prescriptionReferenceID`,
			pr.`appointmentID`,
			pr.`refferedDoctorID`,
			rd.doctorName,
			rd.doctorAddress,
			pr.`updatedBy`,
			pr.`updatedOn`,
			pr.`createdBy`,
			pr.`createdOn`
		FROM `prescription_reference` pr
		JOIN doctor_feed.referred_doctor rd ON pr.refferedDoctorID = rd.referredDoctorID
		WHERE pr.prescriptionReferenceID = #{prescriptionReferenceID}
	</select>

	<select id="getByParam" parameterType="map" resultType="prescriptionReference">
		SELECT
			pr.`prescriptionReferenceID`,
			pr.`appointmentID`,
			pr.`refferedDoctorID`,
			rd.doctorName,
			rd.doctorAddress,
			pr.`updatedBy`,
			pr.`updatedOn`,
			pr.`createdBy`,
			pr.`createdOn`
		FROM `prescription_reference` pr
		JOIN doctor_feed.referred_doctor rd ON pr.refferedDoctorID = rd.referredDoctorID
		WHERE 1 = 1
		<if test="prescriptionReferenceID != null">
			AND prescriptionReferenceID = #{prescriptionReferenceID}
		</if>
		<if test="appointmentID != null">
			AND pr.appointmentID = #{appointmentID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM prescription_reference
		WHERE 1=1
		<if test="prescriptionReferenceID != null">
			AND prescriptionReferenceID = #{prescriptionReferenceID}
		</if>
	</delete>


</mapper>