<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.PrescriptionHistoryMapper">

	<insert id="create" parameterType="prescriptionHistory">

		<selectKey keyProperty="presHistoryID" resultType="String" order="BEFORE">
			select UUID()
		</selectKey>
		INSERT INTO `prescription_history`(
			`presHistoryID`,
			`appointmentID`,
			`patientHistoryID`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{presHistoryID},
			#{appointmentID},
			#{patientHistoryID},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>

	<insert id="selectInsert" parameterType="map">

		INSERT INTO `prescription_history`(
		`appointmentID`,
		`patientHistoryID`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		)
		SELECT
		#{newAppointmentID},
		`patientHistoryID`,
		#{userName},
		NOW(),
		#{userName},
		NOW()
		FROM prescription_history pa
		WHERE 1=1
		<if test="appointmentID != null">
			AND pa.appointmentID = #{appointmentID}
		</if>
		<if test="presHistoryID != null">
			AND pa.presHistoryID = #{presHistoryID}
		</if>
	</insert>
	
	<update id="update" parameterType="prescriptionHistory">
		UPDATE `prescription_history`
		SET
		`appointmentID` = #{appointmentID},
		`patientHistoryID` = #{patientHistoryID},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE presHistoryID = #{presHistoryID}
	</update>

	<select id="getByID" parameterType="string" resultType="prescriptionHistory">
		SELECT
		ph.`presHistoryID`,
		ph.`appointmentID`,
		ph.`patientHistoryID`,
		h.typeCode AS typeCode,
		h.name AS historyName,
		h.shortName historyShortName,
		pathis.historyResult AS historyResult,
		ph.`updatedBy`,
		ph.`updatedOn`,
		ph.`createdBy`,
		ph.`createdOn`
		FROM doctor_feed.`prescription_history` ph
		JOIN doctor_feed.patient_history pathis ON ph.patientHistoryID = pathis.patientHistoryID
		JOIN doctor_feed.history h ON pathis.historyID = h.historyID
		WHERE ph.presHistoryID = #{presHistoryID}
	</select>

	<select id="getByParam" parameterType="map" resultType="prescriptionHistory">
		SELECT
		ph.`presHistoryID`,
		ph.`appointmentID`,
		ph.`patientHistoryID`,
		h.typeCode AS typeCode,
		h.name AS historyName,
		h.shortName historyShortName,
		pathis.historyResult AS historyResult,
		ph.`updatedBy`,
		ph.`updatedOn`,
		ph.`createdBy`,
		ph.`createdOn`
		FROM doctor_feed.`prescription_history` ph
		JOIN doctor_feed.patient_history pathis ON ph.patientHistoryID = pathis.patientHistoryID
		JOIN doctor_feed.history h ON pathis.historyID = h.historyID
		WHERE 1 = 1
		<if test="presHistoryID != null">
			AND ph.presHistoryID = #{presHistoryID}
		</if>
		<if test="patientID != null">
			AND pathis.patientID = #{patientID}
		</if>
		<if test="appointmentID != null">
			AND ph.appointmentID = #{appointmentID}
		</if>
		<if test="typeCode != null">
			AND h.typeCode = #{typeCode}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  pres
		FROM prescription_history pres
		JOIN patient_history ph ON ph.patientHistoryID = pres.patientHistoryID
		JOIN history h ON ph.historyID = h.historyID
		WHERE 1=1
		<if test="presHistoryID != null">
			AND pres.presHistoryID = #{presHistoryID}
		</if>
		<if test="appointmentID != null">
			AND  pres.appointmentID = #{appointmentID}
		</if>
		<if test="typeCode != null">
			AND h.typeCode = #{typeCode}
		</if>
	</delete>


</mapper>