<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.PrescriptionDrugMapper">

	<insert id="create" parameterType="prescriptionDrug" useGeneratedKeys="true" keyProperty="presDrugID" >

		INSERT INTO `prescription_drug`(
			`appointMentID`,
			`drugTypeID`,
			`drugID`,
			`drugTimeID`,
            `drugDoseUnit`,
            `drugWhenID`,
			`drugAdviceID`,
			`presNum`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{appointMentID},
			#{drugTypeID},
			#{drugID},
			#{drugTimeID},
			#{drugDoseUnit},
			#{drugWhenID},
			#{drugAdviceID},
			#{presNum},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="prescriptionDrug">
		UPDATE `prescription_drug`
		SET
		`appointMentID` = #{appointMentID},
		`drugTypeID` = #{drugTypeID},
		`drugID` = #{drugID},
		`drugTimeID` =#{drugTimeID},
		`drugDoseUnit` = #{drugDoseUnit},
		`drugWhenID` = #{drugWhenID},
		`drugAdviceID` = #{drugAdviceID},
		`presNum` = #{presNum},
		`updatedBy` = #{doctorID},
		`updatedOn` = #{doctorID}
		WHERE presDrugID = #{presDrugID}
	</update>

	<select id="getByID" parameterType="long" resultType="prescriptionDrug">
		SELECT
			`presDrugID`,
			`appointMentID`,
			`drugTypeID`,
			`drugID`,
			`drugTimeID`,
            `drugDoseUnit`,
            `drugWhenID`,
			`drugAdviceID`,
			`presNum`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `prescription_drug`

		WHERE presDrugID = #{presDrugID}
	</select>

	<select id="getByParam" parameterType="map" resultType="prescriptionDrug">
		SELECT
		`presDrugID`,
		`appointMentID`,
		`drugTypeID`,
		`drugID`,
		`drugTimeID`,
		`drugDoseUnit`,
		`drugWhenID`,
		`drugAdviceID`,
		`presNum`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		FROM `prescription_drug`
		WHERE 1 = 1
		<if test="presDrugID != null">
			AND presDrugID = #{presDrugID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM prescription_drug
		WHERE 1=1
		<if test="prescription_drug != null">
			AND prescription_drug = #{prescription_drug}
		</if>
	</delete>


</mapper>