<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.PrescriptionVitalMapper">

	<insert id="create" parameterType="prescriptionVital" useGeneratedKeys="true" keyProperty="presVitalID" >

		INSERT INTO `prescription_vital`(
			`appointmentID`,
			`vitalID`,
			`vitalResult`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{appointmentID},
			#{vitalID},
			#{vitalResult},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="prescriptionVital">
		UPDATE `prescription_vital`
		SET
		`appointmentID` = #{appointmentID},
		`vitalID` = #{vitalID},
		`vitalResult` = #{vitalResult},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE presVitalID = #{presVitalID}
	</update>

	<select id="getByID" parameterType="long" resultType="prescriptionVital">
		SELECT
			`presVitalID`,
			`appointmentID`,
			`vitalID`,
			`vitalResult`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `prescription_vital`

		WHERE presVitalID = #{presVitalID}
	</select>

	<select id="getByParam" parameterType="map" resultType="prescriptionVital">
		SELECT
		pv.`presVitalID`,
		pv.`appointmentID`,
		pv.`vitalID`,
		cv.vitalName,
		cv.vitalUnit,
		pv.`vitalResult`,
		pv.`updatedBy`,
		pv.`updatedOn`,
		pv.`createdBy`,
		pv.`createdOn`
		FROM `prescription_vital` pv
		JOIN doctor_feed.content_vital cv ON pv.vitalID = cv.vitalID
		WHERE 1 = 1
		<if test="presVitalID != null">
			AND presVitalID = #{presVitalID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM prescription_vital
		WHERE 1=1
		<if test="presVitalID != null">
			AND presVitalID = #{presVitalID}
		</if>
	</delete>


</mapper>