<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.PrescriptionFamilyDiseaseMapper">

	<insert id="create" parameterType="prescriptionFamilyDisease" useGeneratedKeys="true" keyProperty="presFamilyDiseaseID" >

		INSERT INTO `prescription_family_disease`(
			`appointmentID`,
			`familyDiseaseID`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{appointmentID},
			#{familyDiseaseID},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="prescriptionFamilyDisease">
		UPDATE `prescription_family_disease`
		SET
		`appointmentID` = #{appointmentID},
		`familyDiseaseID` = #{familyDiseaseID},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE presFamilyDiseaseID = #{presFamilyDiseaseID}
	</update>

	<select id="getByID" parameterType="long" resultType="prescriptionFamilyDisease">
		SELECT
			`presFamilyDiseaseID`,
			`appointmentID`,
			`familyDiseaseID`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `prescription_family_disease`

		WHERE presFamilyDiseaseID = #{presFamilyDiseaseID}
	</select>

	<select id="getByParam" parameterType="map" resultType="prescriptionFamilyDisease">
		SELECT
		pfd.`presFamilyDiseaseID`,
		pfd.`appointmentID`,
		pfd.`familyDiseaseID`,
		pfh.diseaseID,
		pfh.relation,
		cr.relationName,
		pfh.present,
		pfh.type,
		pfh.detail,
		cd.diseaseName,
		pfd.`updatedBy`,
		pfd.`updatedOn`,
		pfd.`createdBy`,
		pfd.`createdOn`
		FROM doctor_feed.`prescription_family_disease` pfd
		JOIN doctor_feed.patient_family_history pfh ON pfd.familyDiseaseID = pfh.familyHistoryID
		JOIN doctor_feed.content_relation cr ON pfh.relation = cr.relationID
		JOIN doctor_feed.content_disease cd ON pfh.diseaseID = cd.diseaseID
		WHERE 1 = 1
		<if test="presFamilyDiseaseID != null">
			AND pfd.presFamilyDiseaseID = #{presFamilyDiseaseID}
		</if>
		<if test="appointmentID != null">
			AND pfd.appointmentID = #{appointmentID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM prescription_family_disease
		WHERE 1=1
		<if test="presFamilyDiseaseID != null">
			AND presFamilyDiseaseID = #{presFamilyDiseaseID}
		</if>
	</delete>


</mapper>