<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.PrescriptionDrugMapper">

	<insert id="create" parameterType="prescriptionDrug">
		<selectKey keyProperty="presDrugID" resultType="String" order="BEFORE">
			select UUID()
		</selectKey>
		INSERT INTO `prescription_drug`(
			`presDrugID`,
			`appointmentID`,
			`drugTypeID`,
			`drugID`,
			`doseTypeCode`,
            `drugDoseUnit`,
            `drugWhenID`,
			`drugAdviceID`,
			`doseString`,
			`presNum`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{presDrugID},
			#{appointmentID},
			#{drugTypeID},
			#{drugID},
			#{doseTypeCode},
			#{drugDoseUnit},
			#{drugWhenID},
			#{drugAdviceID},
			#{doseString},
			#{presNum},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);
	</insert>

	<insert id="selectInsert" parameterType="map" useGeneratedKeys="true" keyProperty="presDrugID" >

		INSERT INTO `prescription_drug`(
			`appointmentID`,
			`drugTypeID`,
			`drugID`,
			`doseTypeCode`,
			`drugDoseUnit`,
			`drugWhenID`,
			`drugAdviceID`,
			`doseString`,
			`presNum`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		SELECT
			#{newAppointmentID},
			pc.`drugTypeID`,
			pc.`drugID`,
			pc.`doseTypeCode`,
			pc.`drugDoseUnit`,
			pc.`drugWhenID`,
			pc.`drugAdviceID`,
			pc.`doseString`,
			pc.`presNum`,
			#{userName},
			NOW(),
			#{userName},
			NOW()
		FROM prescription_drug pc
		WHERE 1=1
		<if test="appointmentID != null">
			AND pc.appointmentID = #{appointmentID}
		</if>
		<if test="presDrugID != null">
			AND pc.presDrugID = #{presDrugID}
		</if>
	</insert>


	<update id="update" parameterType="prescriptionDrug">
		UPDATE `prescription_drug`
		SET
		`appointmentID` = #{appointmentID},
		`drugTypeID` = #{drugTypeID},
		`drugID` = #{drugID},
		`doseTypeCode` =#{doseTypeCode},
		`drugDoseUnit` = #{drugDoseUnit},
		`drugWhenID` = #{drugWhenID},
		`drugAdviceID` = #{drugAdviceID},
		`doseString` = #{doseString},
		`presNum` = #{presNum},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE presDrugID = #{presDrugID}
	</update>

	<select id="getByID" parameterType="string" resultType="prescriptionDrug">
		SELECT
			`presDrugID`,
			`appointmentID`,
			`drugTypeID`,
			`drugID`,
			`doseTypeCode`,
            `drugDoseUnit`,
            `drugWhenID`,
			`drugAdviceID`,
			`doseString`,
			`presNum`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		FROM `prescription_drug`

		WHERE presDrugID = #{presDrugID}
	</select>

	<select id="getSimpleByParam" parameterType="map" resultType="prescriptionDrug">
		SELECT
		`presDrugID`,
		`appointmentID`,
		`drugTypeID`,
		`drugID`,
		`doseTypeCode`,
		`drugDoseUnit`,
		`drugWhenID`,
		`drugAdviceID`,
		`doseString`,
		`presNum`,
		`updatedBy`,
		`updatedOn`,
		`createdBy`,
		`createdOn`
		FROM `prescription_drug`
		WHERE 1 = 1
		<if test="presDrugID != null">
			AND presDrugID = #{presDrugID}
		</if>
		<if test="appointmentID != null">
			AND appointmentID = #{appointmentID}
		</if>
	</select>

	<select id="getByParam" parameterType="map" resultType="prescriptionDrug">
		SELECT
		PD.`presDrugID`,
		PD.`appointmentID`,
		PD.`drugTypeID`,
		PD.`drugID`,
		PD.`doseTypeCode`,
		PD.`drugDoseUnit`,
		PD.`drugWhenID`,
		PD.`drugAdviceID`,
		PD.`doseString`,
		PD.`presNum`,
		CD.drugName,
		CD.strength AS drugStrength,
		CDT.initial AS drugTypeInitial,
		CDT.name AS drugTypeName,
		CDA.bangla AS drugAdviceName,
		CWT.bangla AS drugWhenName,
		DT.bangla AS doseTypeBngName,
		DT.english AS doseTypeEngName,
		PD.`updatedBy`,
		PD.`updatedOn`,
		PD.`createdBy`,
		PD.`createdOn`
		FROM doctor_feed.`prescription_drug` PD
		JOIN doctor_feed.content_drug CD ON PD.drugID = CD.drugID
		JOIN doctor_feed.content_drug_type CDT ON CD.typeID = CDT.drugTypeID
		JOIN doctor_feed.content_dose_type DT ON PD.doseTypeCode = DT.doseCode
		LEFT JOIN doctor_feed.content_drug_advice CDA ON PD.drugAdviceID = CDA.drugAdviceID
		LEFT JOIN doctor_feed.content_when_type CWT ON PD.drugWhenID = CWT.whenTypeID
		WHERE 1 = 1
		<if test="presDrugID != null">
			AND presDrugID = #{presDrugID}
		</if>
		<if test="appointmentID != null">
			AND appointmentID = #{appointmentID}
		</if>
		ORDER BY PD.`presNum` ASC
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM prescription_drug
		WHERE 1=1
		<if test="presDrugID != null">
			AND presDrugID = #{presDrugID}
		</if>
	</delete>

</mapper>