<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.PrescriptionPastDiseaseMapper">

	<insert id="create" parameterType="prescriptionPastDisease" useGeneratedKeys="true" keyProperty="presPastDiseaseID" >

		INSERT INTO `prescription_past_disease`(
			`appointmentID`,
			`pastDiseaseID`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{appointmentID},
			#{pastDiseaseID},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);


	</insert>
	
	<update id="update" parameterType="prescriptionPastDisease">
		UPDATE `prescription_past_disease`
		SET
		`appointmentID` = #{appointmentID},
		`pastDiseaseID` = #{pastDiseaseID},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE presPastDiseaseID = #{presPastDiseaseID}
	</update>

	<select id="getByID" parameterType="long" resultType="prescriptionPastDisease">
		SELECT
			pd.`presPastDiseaseID`,
			pd.`appointmentID`,
			pd.`pastDiseaseID`,
			cd.diseaseName,
			pd.`updatedBy`,
			pd.`updatedOn`,
			pd.`createdBy`,
			pd.`createdOn`
		FROM doctor_feed.`prescription_past_disease` pd
		JOIN doctor_feed.content_disease cd ON pd.pastDiseaseID = cd.diseaseID

		WHERE pd.presPastDiseaseID = #{presPastDiseaseID}
	</select>

	<select id="getByParam" parameterType="map" resultType="prescriptionPastDisease">
		SELECT
		pd.`presPastDiseaseID`,
		pd.`appointmentID`,
		pd.`pastDiseaseID`,
		cd.diseaseName AS diseaseName,
		pd.`updatedBy`,
		pd.`updatedOn`,
		pd.`createdBy`,
		pd.`createdOn`
		FROM doctor_feed.`prescription_past_disease` pd
		JOIN doctor_feed.content_disease cd ON pd.pastDiseaseID = cd.diseaseID
		WHERE 1 = 1
		<if test="presPastDiseaseID != null">
			AND presPastDiseaseID = #{presPastDiseaseID}
		</if>
		<if test="appointmentID != null">
			AND pd.appointmentID = #{appointmentID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM prescription_past_disease
		WHERE 1=1
		<if test="presPastDiseaseID != null">
			AND presPastDiseaseID = #{presPastDiseaseID}
		</if>
	</delete>


</mapper>