<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.PrescriptionDrugDoseMapper">

	<insert id="create" parameterType="prescriptionDrugDose" >

		INSERT INTO `prescription_drug_dose`(
			`presDrugID`,
			`dose`,
			`numOfDay`,
			`durationType`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		VALUES(
			#{presDrugID},
			#{dose},
			#{numOfDay},
			#{durationType},
			#{updatedBy},
			#{updatedOn},
			#{createdBy},
			#{createdOn}
		);
	</insert>

	<insert id="selectInsert" parameterType="map">

		INSERT INTO `prescription_drug_dose`(
			`presDrugID`,
			`dose`,
			`numOfDay`,
			`durationType`,
			`updatedBy`,
			`updatedOn`,
			`createdBy`,
			`createdOn`
		)
		SELECT
			#{newPresDrugID},
			pc.`dose`,
			pc.`numOfDay`,
			pc.`durationType`,
			#{userName},
			NOW(),
			#{userName},
			NOW()
		FROM prescription_drug_dose pc
		WHERE 1=1
		<if test="presDrugID != null">
			AND pc.presDrugID = #{presDrugID}
		</if>
	</insert>
	
	<update id="update" parameterType="prescriptionDrugDose">
		UPDATE `prescription_drug_dose`
		SET
		`presDrugID` = #{presDrugID},
		`dose` = #{dose},
		`numOfDay` = #{numOfDay},
		`durationType` =#{durationType},
		`updatedBy` = #{updatedBy},
		`updatedOn` = #{updatedOn}
		WHERE presDrugID = #{presDrugID}
	</update>

	<select id="getByID" parameterType="long" resultType="prescriptionDrugDose">
		SELECT
			`presDrugID`,
			`dose`,
			`numOfDay`,
			`durationType`,
		FROM `prescription_drug_dose`

		WHERE presDrugID = #{presDrugID}
	</select>

	<select id="getByParam" parameterType="map" resultType="prescriptionDrugDose">
		SELECT
		PDD.`presDrugID`,
		PDD.`dose`,
		PDD.`numOfDay`,
		PDD.`durationType`,
		CDT.bangla as bngDurationName,
		CDT.english as engDurationName,
		CDT.pdf as pdfDurationName,
		PDD.`updatedBy`,
		PDD.`updatedOn`,
		PDD.`createdBy`,
		PDD.`createdOn`
		FROM doctor_feed.`prescription_drug_dose` PDD
		JOIN doctor_feed.content_duration_type CDT ON PDD.durationType = CDT.durationType
		WHERE 1 = 1
		<if test="presDrugID != null">
			AND presDrugID = #{presDrugID}
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM prescription_drug_dose
		WHERE 1=1
		<if test="presDrugID != null">
			AND presDrugID = #{presDrugID}
		</if>
	</delete>


</mapper>