<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.migration.DumpRefferedDoctorMapper">

	<insert id="create" parameterType="dumpRefferedDoctor" useGeneratedKeys="true" keyProperty="id" >

		INSERT INTO `dump_reffered_doctor`(
			`doctorName`,
			`doctorAdress`


		)
		VALUES(
			#{doctorName},
			#{doctorAdress}


		);


	</insert>
	
	<update id="update" parameterType="dumpRefferedDoctor">
		UPDATE `dump_reffered_doctor`
		SET
		`doctorName` = #{doctorName},
		`doctorAdress` = #{doctorAdress}

		WHERE id = #{id}
	</update>

	<select id="getByID" parameterType="int" resultType="dumpRefferedDoctor">
		SELECT
		     `id`,
			`doctorName`,
			`doctorAdress`
			FROM `dump_reffered_doctor`

		WHERE id = #{id}
	</select>

	<select id="getByName" parameterType="string" resultType="dumpAdvice">
		SELECT
		    `id`,
		    `doctorName`,
			`doctorAdress`
		FROM `dump_reffered_doctor`
		WHERE advice = #{advice}
	</select>

	<select id="getByParam" parameterType="map" resultType="dumpRefferedDoctor">
		SELECT
		`id`,
		`doctorName`,
		`doctorAdress`
		FROM `dump_reffered_doctor`

		WHERE 1 = 1
		<if test="id != null">
			AND id = #{id}
		</if>


	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM dump_reffered_doctor
		WHERE 1=1
		<if test="id != null">
			AND id = #{id}
		</if>
	</delete>


</mapper>