<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.migration.DumpInvPrescriptionMapper">

	<insert id="create" parameterType="dumpInvPrescription" useGeneratedKeys="true" keyProperty="id" >

		INSERT INTO `dump_inv_prescription`(
			`appointMentID`,
			`invID`,
			`note`,
			`checked`

		)
		VALUES(
			#{appointMentID},
			#{invID},
			#{note},
			#{checked}

		);


	</insert>
	
	<update id="update" parameterType="dumpInvPrescription">
		UPDATE `dump_inv_prescription`
		SET
		`appointMentID` = #{appointMentID},
		`invID` = #{invID},
		`note` = #{note},
		`checked` = #{checked}
		WHERE id = #{id}
	</update>

	<select id="getByID" parameterType="int" resultType="dumpInvPrescription">
		SELECT
		     `id`,
			`appointMentID`,
			`invID`,
			`note`,
			`checked`
			FROM `dump_inv_prescription`

		WHERE id = #{id}
	</select>

	<select id="getByName" parameterType="string" resultType="dumpInvPrescription">
		SELECT
		    `id`,
		    `appointMentID`,
			`invID`,
			`note`,
			`checked`
		FROM `dump_inv_prescription`
		WHERE advice = #{advice}
	</select>

	<select id="getByParam" parameterType="map" resultType="dumpInvPrescription">
		SELECT
		`id`,
		`appointMentID`,
		`invID`,
		`note`,
		`checked`
		FROM `dump_inv_prescription`

		WHERE 1 = 1
		<if test="id != null">
			AND id = #{id}
		</if>

		<if test="id != null">
			AND id = #{id}
		</if>


	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM dump_inv_prescription
		WHERE 1=1
		<if test="appointMentID != null">
			AND appointMentID = #{appointMentID}
		</if>

		<if test="appointMentID != null">
			AND appointMentID = #{appointMentID}
		</if>
	</delete>


</mapper>