<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.migration.DumpAdviceMapper">

	<insert id="create" parameterType="dumpDisease" useGeneratedKeys="true" keyProperty="id" >

		INSERT INTO `dump_disease`(
			`name`



		)
		VALUES(
			#{name}


		);


	</insert>
	
	<update id="update" parameterType="dumpDisease">
		UPDATE `dump_disease`
		SET
		`name` = #{name}

		WHERE id = #{id}
	</update>

	<select id="getByID" parameterType="int" resultType="dumpDisease">
		SELECT
		     `id`,
			`name`
			FROM `dump_disease`

		WHERE id = #{id}
	</select>

	<select id="getByName" parameterType="string" resultType="dumpDisease">
		SELECT
		`id`,
		`name`
		FROM `dump_disease`
		WHERE advice = #{advice}
	</select>

	<select id="getByParam" parameterType="map" resultType="dumpDisease">
		SELECT
		`id`,
		`name`
		FROM `dump_disease`

		WHERE 1 = 1
		<if test="id != null">
			AND id = #{id}
		</if>



	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM dump_disease
		WHERE 1=1
		<if test="id != null">
			AND id = #{id}
		</if>



	</delete>


</mapper>