<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.migration.DumpAdviceMapper">

	<insert id="create" parameterType="dumpDoctorDrugDose" useGeneratedKeys="true" keyProperty="doctorDrugDoseID" >

		INSERT INTO `dump_doctor_drug_dose`(
			`doctorDrugID`,
			`dose`,
			`numOfDay`,
			`durationType`

		)
		VALUES(
			#{doctorDrugID},
			#{dose},
			#{numOfDay},
			#{durationType}

		);


	</insert>
	
	<update id="update" parameterType="dumpDoctorDrugDose">
		UPDATE `dump_doctor_drug_dose`
		SET
		`doctorDrugID` = #{doctorDrugID},
		`dose` = #{dose},
		`numOfDay` = #{numOfDay},
		`durationType` = #{durationType}
		WHERE doctorDrugDoseID = #{doctorDrugDoseID}
	</update>

	<select id="getByID" parameterType="int" resultType="dumpDoctorDrugDose">
		SELECT
		   `doctorDrugDoseID`,
		    `doctorDrugID`,
			`dose`,
			`numOfDay`,
			`durationType`

			FROM `dump_doctor_drug_dose`

		WHERE doctorDrugDoseID = #{doctorDrugDoseID}
	</select>

	<select id="getByName" parameterType="string" resultType="dumpDoctorDrugDose">
		SELECT
		    `doctorDrugDoseID`,
		    `doctorDrugID`,
			`dose`,
			`numOfDay`,
			`durationType`

		FROM `dump_doctor_drug_dose`
		WHERE advice = #{advice}
	</select>

	<select id="getByParam" parameterType="map" resultType="dumpDoctorDrugDose">
		SELECT
		`doctorDrugDoseID`,
		`doctorDrugID`,
		`dose`,
		`numOfDay`,
		`durationType`

		FROM `dump_doctor_drug_dose`

		WHERE 1 = 1
		<if test="doctorDrugDoseID != null">
			AND doctorDrugDoseID = #{doctorDrugDoseID}
		</if>


	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM dump_doctor_drug_dose
		WHERE 1=1
		<if test="doctorDrugDoseID != null">
			AND doctorDrugDoseID = #{doctorDrugDoseID}
		</if>
	</delete>


</mapper>