<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.migration.DumpDoctorHistorySettingsMapper">

	<insert id="create" parameterType="dumpDoctorHistorySettings" useGeneratedKeys="true" keyProperty="id" >

		INSERT INTO `dump_doctor_history_settings`(
			`doctorID`,
			`historyID`,
			`displayOrder`


		)
		VALUES(
			#{doctorID},
			#{historyID},
			#{displayOrder}


		);


	</insert>
	
	<update id="update" parameterType="dumpDoctorHistorySettings">
		UPDATE `dump_doctor_history_settings`
		SET
		`doctorID` = #{doctorID},
		`historyID` = #{historyID},
		`displayOrder` = #{displayOrder}

		WHERE id = #{id}
	</update>

	<select id="getByID" parameterType="int" resultType="dumpDoctorHistorySettings">
		SELECT
		     `id`,
			`doctorID`,
			`historyID`,
			`displayOrder`
			FROM `dump_doctor_history_settings`

		WHERE id = #{id}
	</select>

	<select id="getByName" parameterType="string" resultType="dumpDoctorHistorySettings">
		SELECT
		    `id`,
		    `doctorID`,
			`historyID`,
			`displayOrder`
		FROM `dump_doctor_history_settings`
		WHERE id = #{id}
	</select>

	<select id="getByParam" parameterType="map" resultType="dumpDoctorHistorySettings">
		SELECT
		 `id`,
		`doctorID`,
		`historyID`,
		`displayOrder`
		FROM `dump_doctor_history_settings`

		WHERE 1 = 1
		<if test="id != null">
			AND id = #{id}
		</if>


	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM dump_doctor_history_settings
		WHERE 1=1
		<if test="id != null">
			AND id = #{id}
		</if>
	</delete>


</mapper>