<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.migration.DumpAdviceMapper">

	<insert id="create" parameterType="dumpPrescriptionReference" useGeneratedKeys="true" keyProperty="id" >

		INSERT INTO `dump_prescription_reference`(
			`appointMentID`,
			`refferedDoctorID`


		)
		VALUES(
			#{appointMentID},
			#{refferedDoctorID}

		);


	</insert>
	
	<update id="update" parameterType="dumpPrescriptionReference">
		UPDATE `dump_prescription_reference`
		SET
		`appointMentID` = #{appointMentID},
		`refferedDoctorID` = #{refferedDoctorID}

		WHERE id = #{id}
	</update>

	<select id="getByID" parameterType="int" resultType="dumpPrescriptionReference">
		SELECT
		     `id`,
			`appointMentID`,
			`refferedDoctorID`
			FROM `dump_prescription_reference`

		WHERE id = #{id}
	</select>

	<select id="getByName" parameterType="string" resultType="dumpPrescriptionReference">
		SELECT
		     `id`,
		    `appointMentID`,
			`refferedDoctorID`
		FROM `dump_prescription_reference`
		WHERE advice = #{advice}
	</select>

	<select id="getByParam" parameterType="map" resultType="dumpPrescriptionReference">
		SELECT
		`id`,
		`appointMentID`,
		`refferedDoctorID`
		FROM `dump_prescription_reference`

		WHERE 1 = 1
		<if test="id != null">
			AND id = #{id}
		</if>

		<if test="appointMentID != null">
			AND appointMentID = #{appointMentID}
		</if>


	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM dump_prescription_reference
		WHERE 1=1
		<if test="id != null">
			AND id = #{id}
		</if>

		<if test="appointMentID != null">
			AND appointMentID = #{appointMentID}
		</if>
	</delete>


</mapper>