<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.migration.DumpDoctorAdviceSettingsMapper">

	<insert id="create" parameterType="dumpDoctorAdviceSettings" useGeneratedKeys="true" keyProperty="id" >

		INSERT INTO `dump_doctor_advice_settings`(
			`doctorID`,
			`adviceID`,
			`displayOrder`


		)
		VALUES(
			#{doctorID},
			#{adviceID},
			#{displayOrder}


		);


	</insert>
	
	<update id="update" parameterType="dumpDoctorAdviceSettings">
		UPDATE `dump_doctor_advice_settings`
		SET
		`doctorID` = #{doctorID},
		`adviceID` = #{adviceID},
		`displayOrder` = #{displayOrder}

		WHERE id = #{id}
	</update>

	<select id="getByID" parameterType="int" resultType="dumpDoctorAdviceSettings">
		SELECT
		    `id`,
			`doctorID`,
			`adviceID`,
			`displayOrder`
			FROM `dump_doctor_advice_settings`

		WHERE id = #{id}
	</select>

	<select id="getByName" parameterType="string" resultType="dumpDoctorAdviceSettings">
		SELECT
		     `id`,
			`doctorID`,
			`adviceID`,
			`displayOrder`
		FROM `dump_doctor_advice_settings`
		WHERE id = #{id}
	</select>

	<select id="getByParam" parameterType="map" resultType="dumpDoctorAdviceSettings">
		SELECT
		`id`,
		`doctorID`,
		`adviceID`,
		`displayOrder`
		FROM `dump_doctor_advice_settings`

		WHERE 1 = 1
		<if test="id != null">
			AND id = #{id}
		</if>


	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM dump_doctor_advice_settings
		WHERE 1=1
		<if test="id != null">
			AND id = #{id}
		</if>
	</delete>


</mapper>