<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.migration.DumpDoctorFollowupSetteingMapper">

	<insert id="create" parameterType="dumpDoctorFollowupSetteing" useGeneratedKeys="true" keyProperty="followUpSerttingID" >

		INSERT INTO `dump_doctor_followup_setteing`(
			`doctorID`,
			`invID`,
			`patientTypeId`


		)
		VALUES(
			#{doctorID},
			#{invID},
			#{patientTypeId}

		);


	</insert>
	
	<update id="update" parameterType="dumpDoctorFollowupSetteing">
		UPDATE `dump_doctor_followup_setteing`
		SET
		`doctorID` = #{doctorID},
		`invID` = #{invID},
		`patientTypeId` = #{patientTypeId}

		WHERE followUpSerttingID = #{followUpSerttingID}
	</update>

	<select id="getByID" parameterType="int" resultType="dumpDoctorFollowupSetteing">
		SELECT
		    `followUpSerttingID`,
			`doctorID`,
			`invID`,
			`patientTypeId`
			FROM `dump_doctor_followup_setteing`

		WHERE followUpSerttingID = #{followUpSerttingID}
	</select>

	<select id="getByName" parameterType="string" resultType="dumpDoctorFollowupSetteing">
		SELECT
		    `followUpSerttingID`,
			`doctorID`,
			`invID`,
			`patientTypeId`
		FROM `dump_doctor_followup_setteing`
		WHERE advice = #{advice}
	</select>

	<select id="getByParam" parameterType="map" resultType="dumpDoctorFollowupSetteing">
		SELECT
		`followUpSerttingID`,
		`doctorID`,
		`invID`,
		`patientTypeId`
		FROM `dump_doctor_followup_setteing`

		WHERE 1 = 1
		<if test="followUpSerttingID != null">
			AND followUpSerttingID = #{followUpSerttingID}
		</if>


	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM dump_doctor_followup_setteing
		WHERE 1=1
		<if test="followUpSerttingID != null">
			AND followUpSerttingID = #{followUpSerttingID}
		</if>
	</delete>


</mapper>