<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bottomUp.myBatis.persistence.migration.DumpFollowUpResultMapper">

	<insert id="create" parameterType="dumpFollowUpResult" useGeneratedKeys="true" keyProperty="resultID" >

		INSERT INTO `dump_follow_up_result`(
			`appID`,
			`followUpID`,
			`data`,
			`entryDate`

		)
		VALUES(
			#{appID},
			#{followUpID},
			#{data},
			#{entryDate}

		);


	</insert>
	
	<update id="update" parameterType="dumpFollowUpResult">
		UPDATE `dump_follow_up_result`
		SET
		`appID` = #{appID},
		`followUpID` = #{followUpID},
		`data` = #{data},
		`entryDate` = #{entryDate}
		WHERE resultID = #{resultID}
	</update>

	<select id="getByID" parameterType="int" resultType="dumpFollowUpResult">
		SELECT
		     `resultID`,
			`appID`,
			`followUpID`,
			`data`,
			`entryDate`

			FROM `dump_follow_up_result`

		WHERE resultID = #{resultID}
	</select>

	<select id="getByName" parameterType="string" resultType="dumpFollowUpResult">
		SELECT
		    `resultID`,
			`appID`,
			`followUpID`,
			`data`,
			`entryDate`

		FROM `dump_follow_up_result`
		WHERE advice = #{advice}
	</select>

	<select id="getByParam" parameterType="map" resultType="dumpFollowUpResult">
		SELECT
		`resultID`,
		`appID`,
		`followUpID`,
		`data`,
		`entryDate`

		FROM `dump_follow_up_result`

		WHERE 1 = 1
		<if test="resultID != null">
			AND resultID = #{resultID}
		</if>


	</select>

    <delete id="delete" parameterType="map">
		DELETE  FROM dump_follow_up_result
		WHERE 1=1
		<if test="resultID != null">
			AND resultID = #{resultID}
		</if>
	</delete>


</mapper>