<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="SLF4J"/>
		<setting name="lazyLoadingEnabled" value="true"/>
	</settings>

	<typeAliases>

		<!--com.prescription-->
		<typeAlias alias="appointment" type="com.prescription.domain.AppointmentData"/>





	</typeAliases>

    <plugins>
        <plugin interceptor="com.bottomUp.myBatis.interceptor.MapperInterceptor"/>
    </plugins>
</configuration>