<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="SLF4J"/>
		<setting name="lazyLoadingEnabled" value="true"/>
	</settings>

	<typeAliases>

		<!--com.bottomUp-->
		<typeAlias alias="Company" type="com.bottomUp.domain.common.CompanyData"/>
		<typeAlias alias="Module" type="com.bottomUp.domain.common.ModuleData"/>
		<typeAlias alias="CompanyModule" type="com.bottomUp.domain.common.CompanyModuleData"/>
		<typeAlias alias="User" type="com.bottomUp.domain.common.user.UserData"/>
		<typeAlias alias="UserProfile" type="com.bottomUp.domain.common.user.UserProfileData"/>
		<typeAlias alias="UserGroup" type="com.bottomUp.domain.common.user.UserGroupData"/>
		<typeAlias alias="UserGroupAssignment" type="com.bottomUp.domain.common.user.UserGroupAssignmentData"/>
		<typeAlias alias="UserGroupPermission" type="com.bottomUp.domain.common.user.GroupPermissionData"/>
		<typeAlias alias="Permission" type="com.bottomUp.domain.common.user.PermissionData"/>
		<typeAlias alias="ContentDetail" type="com.bottomUp.domain.common.user.ContentDetailData"/>


		<!--docFeed-->
		<typeAlias alias="appointment" type="com.bottomUp.domain.AppointmentData"/>






	</typeAliases>

    <plugins>
        <plugin interceptor="com.bottomUp.myBatis.interceptor.MapperInterceptor"/>
    </plugins>
</configuration>