<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="local">
        <environment id="local">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="user" value="root"/>
                <property name="password" value="pass"/>
                <property name="url" value="jdbc:mysql://localhost:3306/doctor_feed"/>
            </dataSource>
        </environment>
    </environments>

</configuration>