<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="SLF4J"/>
		<setting name="lazyLoadingEnabled" value="true"/>
	</settings>

	<typeAliases>

		<!--com.bottomUp-->
		<typeAlias alias="Company" type="com.com.bottomUp.domain.common.CompanyData"/>


		<!--docFeed-->






	</typeAliases>

    <plugins>
        <plugin interceptor="com.docfeed.mybatis.interceptor.MapperInterceptor"/>
    </plugins>
</configuration>